/*
 * wd.css
 * Root namespace styles
*/

/* Begin reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p { margin-bottom: 10px; }
0l, ul, dl { list-style-position: inside; }
/* End reset */

/* Begin standard selectors */
body {
  font: 13px 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
  color: #444;
  background-color: #333;
}

a { text-decoration: none; }
  a:link, a:visited { color: inherit; }
  a:hover { text-decoration: underline; }

strong {
  font-size: 24px;
  color: #000;
}
/* End standard selectors */
